*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: linear-gradient(90deg, darkorchid, 60%, yellow);
    background-attachment: fixed;
}
#navbar{
    position:sticky;
    background: white;
    width: 90%;
    border-radius: 25px;
    font-size: 1.5em;
    margin: auto;
    padding: 1.5em 1em;
}
#questionProgress{
    float: right;
}